<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Invitation to challenge on Coduno</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p> Hello, <span th:text="${name}"> name </span>!</p>
<p>You were invited to join <span th:text="${challenge}"> challenge </span> alongside <span th:text="${invitedBy}"> user </span>
    as part of the team <span th:text="${team}"> team </span> . The location of the challenge is
    <span th:text="${location}"> location </span>. If you are up for the challenge,
    click <a th:href="${url + '/contest/' + challengeCanonicalName + '/register?invitingUser=' + invitedByUsername}">to accept invitation</a>.
    To find out more, check <a th:href="${url + '/contest/' + challengeCanonicalName + '/info'}">this out</a></p>
<p>The Coduno Team</p>
</body>
</html>
