<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Reset your Coduno password</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p> Hello, <span th:text="${name}"> name </span></p>
    We received a request to change your password on Coduno.
    If you want to change your password, please visit the link below.
    If you did not make this request, or you changed your mind, you can ignore this request and continue using your existing password.
    The link is valid for 24 hours.
    <a th:href="${url + '/user/password/reset?token=' + token}">Reset your password</a>
    <p>The Coduno Team</p>
</body>
</html>
